<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Normaleezie Sample Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/normaleezie/normaleezie.js")
    @RenderSection("scripts", required: false)
</body>
</html>
