
<div class="panel panel-default">
    <div class="panel-heading">Statistics</div>
    <ul class="list-group">
        <li class="list-group-item">Data Size: <span class="dataSize">??</span> KB.</li>
        <li class="list-group-item">Transfer Time: <span class="transfer">??</span> seconds. (<span class="serverCache">??</span> seconds with server caching.)</li>
        <li class="list-group-item">Processing Time: <span class="processing">??</span> seconds.</li>
    </ul>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Zip Code</th>
            <th>City</th>
            <th>State</th>
            <th>Population</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
